.header{
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    a{
        text-decoration: none;
        color: #2c2c2c;
        font-size: 20px;
        margin-left: 15px;
    }
    a:hover{
        border-bottom: 2px solid #2c2c2c;
    }
}
.main{
    min-height: 100vh;
    position: relative;
}
.section{
    width: 100%;
    position: absolute;
    top: 80px;
    bottom: 0px;
    .iframe{
        width: fit-content;
        margin: 0 auto;
        padding-top: 100px;
    }
}

//index
.endtimeForms, .normalForms{
    max-width: 950px;
    margin: 0 auto;
    padding: 100px 0;
    .title{
        font-size: 32px;
        text-align: center;
        margin-bottom: 50px;
    }
    .FormsArea{
        .FormCard{
            margin-bottom: 15px;
            border: 3px solid #309F99;
            border-radius: 10px;
            padding: 25px 20px;
        }
        .formName{
            font-size: 22px;
            color: #2c2c2c;
            line-height: 30px;
            margin-bottom: 10px;
        }
        .dateString{
            font-size: 16px;
            color: #818181;
            line-height: 22px;
        }
        .formInfo{
            font-size: 16px;
            color: #2c2c2c;
            line-height: 22px;
        }
    }
}

//info
.infoArea, .uploadArea{
    max-width: 950px;
    margin: 0 auto;
    padding: 100px 0;
    .formName{
        font-size: 32px;
        text-align: center;
        margin-bottom: 50px;
    }
    .dateString{
        font-size: 16px;
        color: #818181;
        line-height: 22px;
    }
    .formInfo{
        font-size: 16px;
        color: #2c2c2c;
        line-height: 22px;
        margin-top: 20px;
    }
}

//upload
.uploadArea{
    form{
        margin-top: 40px;
        width: 100%;
        .formTitle{
            font-size: 18px;
            color: #2c2c2c;
            margin-bottom: 10px;
            margin-top: 20px; 
        }
        .dateTitle{
            display: inline-block;
            margin-right: 20px;
            line-height: 30px;
        }
        input{
            border: 2px solid #309F99;
            border-radius: 10px;
        }
        input[name="form-name"]{
            height: 30px;
            width: 100%;
        }
        input[type="date"]{
            height: 30px;
            display: inline-block;
        }
        textarea{
            width: 100%;
            border: 2px solid #309F99;
            border-radius: 10px;
        }
        input[name="form-link"]{
            height: 30px;
            width: 100%;
        }
        .btn{
            display: block;
        }
    }
}

.gray{
    background-color: #f6f6f6;
}
.btn{
    width: 150px;
    padding: 20px 5px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #209F99;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border: 1px solid #209F99;
    border-radius: 10px;
}
.footer{
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    background-color: #209F99;
    color: #fff;
    position: absolute;
    bottom: 0;
}